{% extends 'base.html' %}

{% block breadcrumb %}
Analysis
{% endblock %}

{% block header %}
Analysis - QCAR
{% endblock %}

{% block content %}
<!-- DataTables Example -->

<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      QUTMS Vehicle Dynamics</div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Sprung Mass (kg)</th>
              <th>Unsprung Mass (kg)</th>
              <th>Linear Springs</th>
              <th>Non-Linear Springs</th>
              <th>Linear Bump-Rubbers</th>
              <th>Non-Linear Bump-Rubbers</th>
              <th>Dampers in Compression</th>
              <th>Dampers in Rebound</th>
              <th>Tire Linear Stiffness</th>
              <th>Tire Non-Linear Stiffness</th>
              <th>Tire Saturation</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Sprung Mass (kg)</th>
              <th>Unsprung Mass (kg)</th>
              <th>Linear Springs</th>
              <th>Non-Linear Springs</th>
              <th>Linear Bump-Rubbers</th>
              <th>Non-Linear Bump-Rubbers</th>
              <th>Dampers in Compression</th>
              <th>Dampers in Rebound</th>
              <th>Tire Linear Stiffness</th>
              <th>Tire Non-Linear Stiffness</th>
              <th>Tire Saturation</th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
          {% if data is defined %}
            {% for item in data %}
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.sprungmass}}</td>
              <td>{{item.unsprungmass}}</td>
              <td>{{item.linearspring}}</td>
              <td>{{item.nonlinearspring}}</td>
              <td>{{item.bumplinear}}</td>
              <td>{{item.bumpnonlinear}}</td>
              <td>{{item.damperscompression}}</td>
              <td>{{item.dampersrebound}}</td>
              <td>{{item.tireslinear}}</td>
              <td>{{item.tiresnonlinear}}</td>
              <td>{{item.tireslift}}</td>
              <td class="btn-view">
                <a href = '/graph/{{item.id}}'class="btn btn-secondary btn-lg btn-block btn-square h-100">View</button>
              </td>
              
            </tr>
            {% endfor %}
            {% else %}
            <td>   variable is not defined   </td>
            {% endif %}
                       
          </tbody>
        </table>
      </div>
    </div>
{% if data[0] is defined %}
    {% set date = data[0].id .split(' ') %}
    {% set time = date[1].split('.') %}
    <div class="card-footer small text-muted">Updated at {{ date[0] }} at {{time[0]}}</div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<!-- Page level plugin JavaScript-->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>

<!-- Demo scripts for this page-->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}