<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    {{ title }}
  </title>

  <!-- Custom fonts for this template-->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}">

  <!-- Page level plugin CSS-->
  <link rel= "stylesheet" href= "{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.css') }}">

  <!-- Custom styles for this template-->
  <link rel= "stylesheet" href= "{{ url_for('static',filename='css/sb-admin.css') }}">

  <!-- Icon to display -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
    
    <a class="navbar-brand mr-1" href="/">QUTMS Vehicle Dynamics</a>

    <!-- Shift Navbar Right -->
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></div>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          {% if current_user.is_anonymous == true%}
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/reg">Register</a>
          {% else %}
          <a class="dropdown-item">Welcome! {{current_user.name}}</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">logout</a>
          {% endif %}
          
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/upload/lap" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Upload Data</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">Lap Simulation:</h6>
          <a class="dropdown-item active" href="/upload/lap">Point Mass</a>
          <a class="dropdown-item" href="#">Bicycle Model</a>
          <a class="dropdown-item" href="#">Placeholder</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Other Pages:</h6>
          <a class="dropdown-item" href="/upload/qcar-upload">QCar Model</a>
          <a class="dropdown-item" href="#">Placeholder</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Analysis</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">Models</h6>
          <a class="dropdown-item active" href="/analysis/lap">Lap Simulation</a>
          <a class="dropdown-item" href="/analysis/qcar">QCar</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/edit">
          <i class="fas fa-fw fa-table"></i>
          <span>Edit</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/telemetry">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Live Telemetry (Deprecated)</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active">
              {% block breadcrumb %}
              {% endblock %}
          </li>
        </ol>

        {% with messages = get_flashed_messages() %}              
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-secondary" style="background-color: transparent;" role="alert">
              {{message}}              
            </div>
            {% endfor %}

        {% endif %}            
      {% endwith %}

       

        <!-- Page Content -->
        <h1>
            {% block header %}
            {% endblock %}
        </h1>
        <hr>
        {% block content %}
        {% endblock %}

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © QUT Motorsport</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>

  {% block script %}
  {% endblock %}

</body>

</html>
