{% extends 'base.html' %}

{% block breadcrumb %}
Graph
{% endblock %}

{% block header %}
{{name}} - {{fastest_lap}}


<button type="submit" class="btn btn-secondary btn-lg" style="float: right; text-align: center" onclick="window.location.href = '/export_button';">Export Graph</button>
<button type="submit" class="btn btn-secondary btn-lg mr-3" style="float: right; text-align: center" onclick="window.location.href = '/export_mat';">Export .mat</button>

<div class="btn-group d-flex mt-2" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/graph/{{id.id}}';">View All</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/gg/{{id.id}}';">GG Diagram</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/speedcurvature/{{id.id}}';">Speed v Curvature</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/accumulator/{{id.id}}';">Accumulator</button>
</div>
{% endblock %}

{% block content %}
<div class="mb-5">
{{graph_html|safe}}
</div>
{% endblock %}