{% extends 'base.html' %}

{% block breadcrumb %}
Help
{% endblock %}

{% block header %}
Key Terms & Symbols
{% endblock %}

{% block content %}
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Fundamentals
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5>Fundamentals</h5>
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Name</th>
                            <th scope="col">Base Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">F<sub>y</sub></th>
                            <td>Lateral Force</td>
                            <td><i>N</i></td>
                            </tr>
                            <tr>
                            <th scope="row"><i>M</i></th>
                            <td>Force Moment</td>
                            <td><i>N</i>m</td>
                            </tr>
                            <tr>
                            <th scope="row"><i>a</i></th>
                            <td>Distance from CG to Front Track</td>
                            <td><i>m</i></td>
                            </tr>
                            <tr>
                            <th scope="row"><i>b</i></th>
                            <td>Distance from CG to Rear Track</td>
                            <td><i>m</i></td>
                            </tr>
                            <tr>
                            <th scope="row">T<sub>F</sub></th>
                            <td>Front Track Width</td>
                            <td><i>m</i></td>
                            </tr>
                            <tr>
                            <th scope="row">T<sub>R</sub></th>
                            <td>Rear Track Width</td>
                            <td><i>m</i></td>
                            </tr>
                            <tr>
                            <th scope="row">A<sub>F</sub></th>
                            <td>Front Lat. Acceleration</td>
                            <td><i>m/s</i><sup>2</sup></td>
                            </tr>
                            <tr>
                            <th scope="row">A<sub>R</sub></th>
                            <td>Rear Lat. Acceleration</td>
                            <td><i>m/s</i><sup>2</sup></td>
                            </tr>
                            <tr>
                            <th scope="row">Fx</th>
                            <td>Longitudinal Force</td>
                            <td><i>N</i></td>
                            </tr>
                            <tr>
                            <th scope="row">Mz</th>
                            <td>Tire Aligning Moment</td>
                            <td><i>N</i>m</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h5>Fundamentals</h5>
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Name</th>
                            <th scope="col">Base Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">I<sub>zz</sub></th>
                            <td>Yaw Inertia</td>
                            <td>kgm<sup>2</sup></td>
                            </tr>
                            <tr>
                            <th scope="row"><i>θ</i></th>
                            <td>Yaw Angle</td>
                            <td>rad</td>
                            </tr>
                            <tr>
                            <th scope="row">θ̇, r (Theta with Dot)</th>
                            <td>Yaw Velocity</td>
                            <td>rad/s</td>
                            </tr>
                            <tr>
                            <th scope="row">θ̈, ṙ (Theta with 2 Dots)</th>
                            <td>Yaw Acceleration</td>
                            <td>rad/s<sup>2</sup></td>
                            </tr>
                            <tr>
                            <th scope="row">V<sub>x</sub></th>
                            <td>Longitudinal Velocity</td>
                            <td><i>m/s</i></td>
                            </tr>
                            <tr>
                            <th scope="row">My</th>
                            <td>Tire Rolling Moment</td>
                            <td><i>N</i>m</td>
                            </tr>
                            <tr>
                            <th scope="row">Mx</th>
                            <td>Tire Overturning Moment</td>
                            <td><i>N</i>m</td>
                            </tr>
                            <tr>
                            <th scope="row">F<sub>z</sub></th>
                            <td>Vertical Force</td>
                            <td><i>N</i></td>
                            </tr>
                            <tr>
                            <th scope="row">R</th>
                            <td>Corner Radius</td>
                            <td><i>m</i></td>
                            </tr>
                            <tr>
                            <th scope="row">A<sub>x</sub></th>
                            <td>Longitudinal Acceleration</td>
                            <td><i>m/s</i><sup>2</sup></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Tires
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5>Tires</h5>
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Name</th>
                            <th scope="col">Base Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">μ<sub>x</sub></th>
                            <td>Longitudinal Coefficient of Friction</td>
                            <td></td>
                            </tr>
                            <tr>
                            <th scope="row">μ<sub>y</sub></th>
                            <td>Lateral Coefficient of Friction</td>
                            <td></td>
                            </tr>
                            <tr>
                            <th scope="row"><i>F<sub>x</sub></i></th>
                            <td>Tire Longitudinal Force</td>
                            <td><i>N</i></td>
                            </tr>
                            <tr>
                            <th scope="row"><i>F<sub>y</sub></i></th>
                            <td>Tire Lateral Force</td>
                            <td><i>N</i></td>
                            </tr>
                            <tr>
                            <th scope="row">F<sub>z</sub></th>
                            <td>Tire Normal Load</td>
                            <td><i>N</i></td>
                            </tr>
                            <tr>
                            <th scope="row">M<sub>x</sub></th>
                            <td>Tire Overturning Moment</td>
                            <td><i>N</i>m</td>
                            </tr>
                            <tr>
                            <th scope="row">M<sub>y</sub></th>
                            <td>Tire Rolling Moment</td>
                            <td><i>N</i>m</td>
                            </tr>
                            <tr>
                            <th scope="row">M<sub>z</sub></th>
                            <td>Tire Aligning Moment</td>
                            <td><i>N</i>m</td>
                            </tr>
                            <tr>
                            <th scope="row">A, SA</th>
                            <td>Slip Angle</td>
                            <td>rad</td>
                            </tr>
                            <tr>
                            <th scope="row">V<sub>x</sub></th>
                            <td>Longitudinal Velocity</td>
                            <td>m/s</td>
                            </tr>
                            <tr>
                            <th scope="row">V<sub>y</sub></th>
                            <td>Lateral Velocity</td>
                            <td>m/s</td>
                            </tr>
                            <tr>
                            <th scope="row">β</th>
                            <td>Chassis Slip Angle</td>
                            <td>rad</td>
                            </tr>
                            <tr>
                            <th scope="row">r</th>
                            <td>Yaw Velocity/Loaded Tire Radius</td>
                            <td>rad/s</td>
                            </tr>
                            <tr>
                            <th scope="row">ṙ</th>
                            <td>Yaw Acceleration</td>
                            <td>rad/s<sup>2</sup></td>
                            </tr>
                            <tr>
                            <th scope="row">δ</th>
                            <td>Steering Angle</td>
                            <td>rad</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h5>Tires</h5>
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Name</th>
                            <th scope="col">Base Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">I<sub>zz</sub></th>
                            <td>Yaw Inertia</td>
                            <td>kgm<sup>2</sup></td>
                            </tr>
                            <tr>
                            <th scope="row"><i>θ</i></th>
                            <td>Yaw Angle</td>
                            <td>rad</td>
                            </tr>
                            <tr>
                            <th scope="row">θ̇, r (Theta with Dot)</th>
                            <td>Yaw Velocity</td>
                            <td>rad/s</td>
                            </tr>
                            <tr>
                            <th scope="row">θ̈, ṙ (Theta with 2 Dots)</th>
                            <td>Yaw Acceleration</td>
                            <td>rad/s<sup>2</sup></td>
                            </tr>
                            <tr>
                            <th scope="row">V<sub>x</sub></th>
                            <td>Longitudinal Velocity</td>
                            <td><i>m/s</i></td>
                            </tr>
                            <tr>
                            <th scope="row">My</th>
                            <td>Tire Rolling Moment</td>
                            <td><i>N</i>m</td>
                            </tr>
                            <tr>
                            <th scope="row">Mx</th>
                            <td>Tire Overturning Moment</td>
                            <td><i>N</i>m</td>
                            </tr>
                            <tr>
                            <th scope="row">F<sub>z</sub></th>
                            <td>Vertical Force</td>
                            <td><i>N</i></td>
                            </tr>
                            <tr>
                            <th scope="row">R</th>
                            <td>Corner Radius</td>
                            <td><i>m</i></td>
                            </tr>
                            <tr>
                            <th scope="row">A<sub>x</sub></th>
                            <td>Longitudinal Acceleration</td>
                            <td><i>m/s</i><sup>2</sup></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>



{% endblock %}

{% block script %}
<!-- <script src="{{ url_for('static', filename='js/help.js') }}"></script> -->
{% endblock %}