{% extends 'base.html' %}

{% block breadcrumb %}

{% endblock %}

{% block header %}
Home
{% endblock %}

{% block content %}

<div class="mt-0 mb-3">
    {% if labels is defined %}
    {% for label in labels %}
    <span class="badge badge-primary">{{label}}</span>
    {% endfor %}
    {% endif %}
</div>

<div class="row">
    <div class="col-sm-7">
        <h5>Latest Commits</h5>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                <th>Commit</th>
                <th>Author</th>
                <th>Date</th>
                </tr>
            </thead>
            <tbody>
            {% if commits is defined %}
                {% for commit in commits %}
                <tr>
                <td><a href="{{commit.url}}">{{commit.title}}</a></td>
                <td>{{commit.author}}</td>
                <td>{{commit.date}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <td>   variable is not defined   </td>
                {% endif %}
                        
            </tbody>
            </table>
        </div>

        <h5>Open Issues</h5>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                <th>Name</th>
                <th>Issue #</th>
                </tr>
            </thead>
            <tbody>
            {% if issues is defined %}
                {% for issue in issues %}
                <tr>
                <td>{{issue.title}}</td>
                <td>{{issue.number}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <td>   variable is not defined   </td>
                {% endif %}
                        
            </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-5">
        <img class="image-shrink" src="{{ url_for('static',filename='img/rear_car_ev.jpg') }}" alt="">
    </div>
</div>

{% endblock %}