{% extends 'base.html' %}

{% block breadcrumb %}
Live Telemetry
{% endblock %}

{% block header %}
Live Telemetry
{% endblock %}

{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/speedometer.css') }}">
<style type="text/css">
    .vertical {
        display: inline-block;
        width: 20%;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        margin-top: 60px;
    }
</style>

<script type="text/javascript" src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>

<div class="row">
  <div class="col">
    <form action={{ url_for('main.qcar_data') }} method="post" class="form" role="form">
        <div class="row">
            <div class="container-lg-4 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col">
                        <h5>Ground Speed</h5>
                        <hr>
                        <div id="semicircle" style="margin: 20px; width: 200px; height: 100px;"></div>
                        <script type="text/javascript" charset="utf-8">
                                // progressbar.js@1.0.0 version is used
                                // Docs: http://progressbarjs.readthedocs.org/en/1.0.0/

                                var bar = new ProgressBar.SemiCircle(semicircle, {
                                    strokeWidth: 6,
                                    color: '#0F406A',
                                    trailColor: '#eee',
                                    trailWidth: 1,
                                    easing: 'easeInOut',
                                    duration: 0,
                                    svgStyle: null,
                                    text: {
                                        value: '',
                                        alignToBottom: false
                                    },
                                    from: {color: '#0F406A'},
                                    to: {color: '#0F406A'},

                                    // Set default step function for all animate calls
                                    step: (state, bar) => {
                                        bar.path.setAttribute('stroke', state.color);
                                        var value = Math.round(bar.value() * 100);
                                        if (value === 0) {
                                        bar.setText('');
                                        } else {
                                        bar.setText(value + "km");
                                        }

                                        bar.text.style.color = state.color;
                                    }
                                });
                                bar.text.style.fontSize = '2rem';

                                bar.set(0.7);  // Number from 0.0 to 1.0
                        </script>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Pedal Positions</h5>
                        <hr>
                        <div>
                            <div style="text-align: center; float: left; margin-top: 0px; padding: 0px;">
                                <div class="vertical" style="width: 150px;">
                                    <div class="progress" style="height: 50px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <p style="margin-top: 65px;">Acceleration</p>
                            </div>
                            <div style="text-align: center; float: left; margin-top: 0px; padding: 0px;">
                                <div class="vertical" style="width: 150px;">
                                    <div class="progress" style="height: 50px">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <p style="margin-top: 65px;">Brake</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-lg-3 col-md-4 col-sm-12">
                <h5>CG Acceleration</h5>
                <hr>
                <div style="text-align: center; width: 100%; height: 100%; ">
                    <!-- Longitudal -->
                    <svg style="position: absolute; z-index: 100; width: 300; height: 315.06">
                        <line x1="150" y1="157.53" x2="150" y2="0" style="stroke: #0F406A; stroke-width: 10" />
                    </svg>
                    <!-- Latitudal -->
                    <svg style="position: absolute; z-index: 100; width: 300; height: 315.06">
                        <line x1="150" y1="157.53" x2="200" y2="157.53" style="stroke: #0F406A; stroke-width: 10" />
                    </svg>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUvGb066DdQgDNPGfx3xnKx7ofNn-ZiZeMFELignKjJCnmFKlQnA&s" class="img-fluid" alt="Responsive image" style="z-index: -1; width: 300px;">
                    <p><strong>CG Lat:</strong> 2g</p>
                    <p><strong>CG Long:</strong> 5g</p>
                </div>
                
            </div>
            <div class="container-lg-3 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col">
                    <h5>Energy</h5>
                <hr>
                <div class="progress" style="height: 50px">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 40%; height: 50px" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="h2 font-weight-bold" style="line-height:50px">80%</div>
                </div>
                <p>600/2000</p>
            </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Steering Angle</h5>
                <hr>
                <div>
                    <img src="https://motorsport.tech/wp-content/uploads/2019/05/SWheel_shell.jpg" class="img-fluid" alt="Responsive image" style="float: left; width: 200px; margin-top: 40px; transform: rotate(-45deg);">
                    <div style= "float:left"><p style="font-size: 40px; margin-left: 80px;">5&#176;</p></div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}