{% extends 'base.html' %}

{% block breadcrumb %}
QCar
{% endblock %}

{% block header %}
{{name}}

<button type="submit" class="btn btn-secondary btn-lg" style="float: right; text-align: center" onclick="window.location.href = '#';">Export 1</button>
<button type="submit" class="btn btn-secondary btn-lg mr-3" style="float: right; text-align: center" onclick="window.location.href = '#';">Export 2</button>

<div class="btn-group d-flex mt-2" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '#';">View All</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '#';">Option 2</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '#';">Option 3</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '#';">Option 4</button>
</div>
{% endblock %}

{% block content %}
<div class="mb-5">
{{output_html|safe}}
</div>
{% endblock %}