{% extends 'base.html' %}

{% block breadcrumb %}
Quarter Car Upload
{% endblock %}

{% block header %}
QCar Upload
{% endblock %}

{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="row">
  <div class="col">
    <form action={{ url_for('main.qcar_data') }} method="post" class="form" role="form">
      <div class="col form-wrapper">
            {{ dataform.csrf_token }}
        <div class="input-group mb-3">
            {{ dataform.name(placeholder="Name",class_='form-control') }}
        </div>
        <div class="row">
            <div class="col">
                <h5>Basic Mass</h5>
                <hr>
                <div class="input-group mb-3">
                    {{ dataform.sprungmass(placeholder="Sprung Mass",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
                <div class="input-group mb-3">
                    {{ dataform.unsprungmass(placeholder="Unsprung Mass",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
            </div>
            <div class="col">
                <h5>Springs</h5>
                <hr>
                <div class="input-group mb-3">
                    {{ dataform.linearspring(placeholder="Linear",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
                <div class="input-group mb-3">
                    {{ dataform.nonlinearspring(placeholder="Non-Linear",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
            </div>
            <div class="col">
                <h5>Dampers</h5>
                <hr>
                <div class="input-group mb-3">
                    {{ dataform.damperscompression(placeholder="Linear/Non-Linear in Compression",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
                <div class="input-group mb-3">
                    {{ dataform.dampersrebound(placeholder="Linear/Non-Linear Rebound",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Tires</h4>
                <hr>
                <div class="input-group mb-3">
                    {{ dataform.tireslinear(placeholder="Linear Stiffness",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
                <div class="input-group mb-3">
                    {{ dataform.tiresnonlinear(placeholder="Non-Linear Stiffness",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
                <div class="input-group mb-3">
                    {{ dataform.tireslift(placeholder="Saturated During Lift",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
            </div>
            <div class="col">
                <h4>Bump - Rubbers</h4>
                <hr>
                <div class="input-group mb-3">
                    {{ dataform.bumplinear(placeholder="Linear",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
                <div class="input-group mb-3">
                    {{ dataform.bumpnonlinear(placeholder="Non-Linear",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
                <div class="input-group mb-3">
                    {{ dataform.bumphysteresis(placeholder="Non-Linear with Hysteresis",class_='form-control') }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">kg</span>
                </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
      </div>
    </form>
  </div>
  
  <div class="col-md-4 rear-car mb-3">
    <img src="{{ url_for('static',filename='img/front_car_ev.jpg') }}" alt="">
  </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}