<html style="background-color: aliceblue;">

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Custom styles for this template-->
  <link rel= "stylesheet" href= "{{ url_for('static',filename='css/account.css') }}">
</head>
<body style="opacity:0.72;background-image:  url('static/img/lab_bg.jpg/');">

{% import "bootstrap/wtf.html" as wtf %}
<div class="force-contrainer">

  <div class="wrapper fadeInDown">

    <div id="formContent">

      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first mt-5 mb-1">
        <img src="{{ url_for('static',filename='img/QUTMS_Logo_Blue.jpg') }}" alt="User Icon" id="icon">
      </div>
      <div class="mb-3 mt-3">
      {% with messages = get_flashed_messages() %}
      </div>        
{% if messages %}
  <ol style="margin-right:auto;padding:2px"class='fadeIn fl'>
    {% for message in messages %}
    <div role="alert">
      {{message}}              
    </div>
    {% endfor %}

  </ol>
{% endif %}            
{% endwith %}
      <!-- Login Form -->
      <form action={{ url_for('auth.register') }} method="POST" role="form">
        {{ registerform.csrf_token }}
        {{ registerform.email(placeholder="Email",class_='fadeIn second',type="text",id="email") }}
        {{ registerform.password(placeholder="Password",class_='fadeIn third',type="password",id="password") }}
        {{ registerform.confirm(placeholder="Confirm Password",class_='fadeIn fourth',type="password",id="confirm") }}

        <input type="submit" class="fadeIn fifth" value="register">

      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a style='padding-right:12%;'class="underlineHover" href="/login">Login</a>
        <a style='padding-right:6%;padding-left:6%;'class="underlineHover" href="/">Home</a>
        <a style='padding-left:12%'class="underlineHover" href="/forget">Forgot Password?</a>
      </div>

    </div>
  </div>
</div>
</body>
</html>